@tailwind base;
@tailwind components;
@tailwind utilities;


.div-end{
  float: right;
}

.post_content_div{
  align-items: center;
  margin: auto;
}

.post_img{
  margin: auto;
  align-content: center;
  width: 95%;
}

/* Grid */
.center-section{
  margin: auto;
  align-items: center;
}

.left_bar{
  
}

.post_link_btn{
  float: right;
}

.search_input{
  margin: auto;
  align-items: center;
  width: 90%;
}

.profile_img{
  margin-top: -80px;
}