@tailwind base;
@tailwind components;
@tailwind utilities;


.div-end{
  float: right;
}

.post_content_div{
  align-items: center;
  margin: auto;
}

.post_img{
  margin: auto;
  align-content: center;
  width: 95%;
}

/* Grid */
.center-section{
  margin: auto;
  align-items: center;
}

.left_bar{
  
}

.post_link_btn{
  float: right;
}

.search_input{
  margin: auto;
  align-items: center;
  width: 90%;
}

.profile_img{
  margin-top: -80px;
}

/* Login Page */
.login_bg{
  background-image: url("https://images.unsplash.com/photo-1515694590185-73647ba02c10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29mZmVlJTIwcGxhbnRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: 100%;
  background-repeat : no-repeat;
}

.login_section{
  background-color: black;
  opacity: .7;
}